ariadne
coverage.out

.vscode
.DS_store

# Temporary files for diff'ing of actual values against golden files.
backend/api/testdata/server/tmp/*
!backend/api/testdata/server/tmp/actual/
backend/api/testdata/server/tmp/actual/*
!backend/api/testdata/server/tmp/actual/api-responses/
backend/api/testdata/server/tmp/actual/api-responses/*
!backend/api/testdata/server/tmp/actual/api-responses/.gitkeep

# We are no longer committing MacOS screenshots.
e2e/tests/ariadne.spec.js-snapshots/*-darwin.png

# For Vlad's dev environment
c.out
go.work
Makefile
