resolve
coverage.out

.vscode
.DS_store

// Temporary files for diff'ing of actual values against golden files.
backend/api/testdata/server/tmp/*
!backend/api/testdata/server/tmp/actual/
backend/api/testdata/server/tmp/actual/*
!backend/api/testdata/server/tmp/actual/.gitkeep
Makefile

//for Vlad's dev environment
go.work
c.out