resolve
coverage.out

.vscode

// Temporary files for diff'ing of actual values against golden files.
backend/testdata/server/tmp/*
!backend/testdata/server/tmp/actual/
backend/testdata/server/tmp/actual/*
!backend/testdata/server/tmp/actual/.gitkeep
Makefile

//for Vlad's dev environment
go.work
c.out