div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.list,
.block .s-la-widget ul.list-unstyled {
    list-style: none;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list a,
.list .block .s-la-widget a,
.block .s-la-widget .list a,
.block .s-la-widget .list-unstyled a {
    text-decoration: none;
}


.list li,
.block .s-la-widget .list-unstyled li {
    border-bottom: 1px dotted #bbbdbf;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.list:last-child li:last-child,
.block .s-la-widget .list-unstyled:last-child li:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

::selection {
    background: var(--background-color);
    color: var(--white-color);
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    box-shadow: none;
    background: var(--background-color);
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 3px;
    display: inline-block;
}


.primary-footer {
    display: flex;
    background: #22272d;
    color: var(--footer-color);
    padding-top: 75px;
    padding-bottom: 87px
}

.footer__social a:not(.ss-navigateright):not(.button) img {
    background-color: var(--white-color);
    border-radius: 10%;
}

.footer__social a:hover img {
    opacity: 0.7;
}

.wrap {
    width: 95%;
    max-width: 1170px;
    margin: auto;
    position: relative;
}

.block-container,
.block {
    zoom: 1;
    box-sizing: border-box;
    display: block;
}

.block-container:before {
    content: "";
    display: table;
}

.block-container:after {
    content: "";
    display: table;
    clear: both;
}

.primary-footer .block {
    margin-bottom: 30px;
}

.block {
    margin: 0 0 45px;
}

.block--25 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.block--25:first-child {
    padding-left: 0;
}

.block--25:nth-of-type(4n) {
    padding-right: 0;
}

.primary-footer .button {
    color: var(--white-color);
    font-size: 14px;
    width: 100%;
    display: block;
    padding: 25px 20px;
}

.primary-footer p {
    margin: 0 0 1em;
    line-height: 1.5;
    font-size: 12px;
    color: var(--footer-color);
}

.primary-footer a,
.primary-footer .block .s-la-widget a,
.block .s-la-widget .primary-footer a {
    color: var(--footer-color);
}

.primary-footer a:hover,
.primary-footer .block .s-la-widget a:hover,
.block .s-la-widget .primary-footer a:hover {
    color: var(--white-color);
    text-decoration: underline;
}

.primary-footer .list li,
.primary-footer .block .s-la-widget .list-unstyled li,
.block .s-la-widget .primary-footer .list-unstyled li {
    border-bottom-color: var(--border-bottom-color);
}

.footer__menu:first-child .list li:last-child {
    border-bottom: var(--dotted-border);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.block {
    margin: 0 0 45px;
}

.block--25 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.footer__give a:hover {
    color: var(--white-color);
    background-color: var(--hover-background-color);
    text-decoration: underline;
}

.footer__give a:visited {
    border: 3px solid #72c5e9;
}


.footer__social p {
    margin: 0 0 1em;
    line-height: 1.5;
    font-size: 12px;
}

.footer__social .ss-icon,
.footer__social .table__cell--sortable[data-sort]:after {
    color: #d8dee5;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.footer__copyright {
    font-size: 12px;
    border-top: var(--dotted-border);
    padding-top: 13px;
    color: #b1b1b1;
    line-height: 1.4;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.footer__copyright a,
.footer__copyright .block .s-la-widget a,
.block .s-la-widget .footer__copyright a {
    color: #b1b1b1;
    text-decoration: underline;
}

.footer__logo {
    position: absolute;
    top: 13px;
    right: 0;
    width: 200px;
    /* height: 100%; */
    text-align: right;
    padding: 0 0 0 15px;
}

.footer__logo img:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 730px) {

    .footer__give,
    .footer__social {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .primary-footer .block {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    ul {
        padding-left: 0 !important;
    }

    .ss-navigateright.right::after {
        content: ">";
    }

    .primary-footer a {
        color: var(--white-color);
        text-decoration: none;
    }

    .footer__social p a:after {
        color: var(--white-color);
        margin-left: 5px;
        font-size: 18px;
        vertical-align: middle;
    }

    .list:last-child li:last-child {
        border-bottom: var(--dotted-border);
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
    }

    .footer__menu:nth-of-type(2) {
        margin-bottom: 0;
    }

    .footer__copyright {
        position: static;
        padding-top: 30px;
    }

    .footer__logo {
        position: static;
        padding: 0;
        text-align: left;
    }
}



@media only screen and (max-width: 730px) {
    .block--25 {
        width: 50%;
        padding: 0 15px 0 0;
    }
}

@media only screen and (max-width: 910px) {
    .footer__logo {
        float: none;
        top: auto;
        margin-top: 5px;
        display: block;
    }
}