/*
  Styles for the Citation component

*/

.citation-container {
  /* display: flex;
  justify-content: center;
  margin-right: 58%;
  margin-top: 0.8rem */
}


/* 
  Styles for the List component
*/

.jumbotron {
  margin: 20px 0 20px 0;
}

.jumbotron h1 {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.2;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-group {
  border: 1px solid #ddd;
  border-width: 3px;
  border-color: #c7c7c7;
  border-radius: 10px;
  max-width: 800px;
}

.row a:hover {
  text-decoration: underline;
  color: #2200CC;
}

.row a {
  text-decoration: none;
  color: #2200CC;
}

.row h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
}

.ask-librarian {
  margin: 20px 0 20px 0;
}

.ask-librarian h4,
.ask-librarian h5 a {
  font-weight: bold;
}



/* 
  Styles for the Banner component
*/

.image {
  opacity: 1;
}

.image.white-bg {
  background-color: white;
}


.image:hover {
  opacity: 0.8;
}

.color-nav {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #57068c;
}


@media screen and (max-width: 800px) {
  .ask-librarian {
    margin: 2rem 0rem 2rem 0rem;
  }

  /* .i-am-centered {
    margin: 18px 0px 0px 38px;
  } */
}

h2.title {
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  font-weight: normal;
}

dl.citation-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

dl.citation-info dt {
  float: left;
  clear: left;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
}

dl.citation-info dd {
  margin-left: 100px;
}

p.resource-type {
  margin: 0;
  text-transform: capitalize;
}