/* 
  Styles for the List component
*/

.jumbotron {
  background-color: #F7EDA3;
}

.i-am-centered {
  display: flex;
  margin: 18px 0px 0px 118px;
}

.loader {
  display: flex;
  justify-content: center;
}

.list-group {
  border: 1px solid #ddd;
  border-width: 3px; 
  border-color:#c7c7c7;
  border-radius: 10px;
  max-width: 800px;
}

.row a:hover {
  text-decoration: underline;
  color: #6c07ae;
}

.row a {
  text-decoration: none;
  color: #6c07ae ;
}


.ask-librarian {
  margin-top: 11rem;
}


h6 {
  color: #6c07ae;
}

/* 
  Styles for the Banner component
*/

.image {
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
}

.color-nav {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#57068c;
}


@media screen and (max-width: 800px) {
  .ask-librarian {
    margin: 2rem 0rem 2rem 0rem;
  }
}








