.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

.i-am-centered {
  display: flex;
  margin: 18px 0px 0px 190px;
  max-width: 600px;
}

.list-group {
  border: 1px solid #ddd;
  border-width: 3px; 
  border-color:#c7c7c7;
  border-radius: 10px;
}

.ask-librarian {
  margin: 170px -56px 0px 50px;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#6c07ae;
}

.mb-1:hover {
  text-decoration: underline;
  color: #6c07ae;
}


h6 {
  color: #6c07ae;
}

.mb-1 {
  text-align: left;
}

.image:hover {
  opacity: 0.8;
}