.chat-tab {
    color: #e0d5e8;
    padding: 10px 10px 8px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
}


.chat-tab:before {
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-weight: normal;
}

.ss-chat::before,
.ss-chat.right::after {
    content: "💬";
}

#chat_widget {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

/* ChatWidget.css */

#chat_widget .chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#chat_widget .chat-button {
    padding: 10px 10px 8px;
    width: 127.72px;
    height: 35.38px;
    color: #e0d5e8;
    line-height: normal;
    white-space: nowrap;
    box-sizing: border-box;
}

@media screen and (max-width: 930px) {
    #chat_widget .chat-button {
        width: 100%;
        max-width: none;
        right: 0;
        border-radius: 0;
    }
}

.chat-button:hover {
    background-color: #6c07ae;
    color: #fff;
}

.chat-frame-wrap {
    position: relative;
    right: 10px;
}

.chat-close {
    position: absolute;
    top: -15px;
    right: -5px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #f5f7fa;
    border: 1px solid rgb(192, 192, 192);
    border: 0 none;
    cursor: pointer;
    font-size: 16px;
}


.libraryh3lp iframe {
    width: 300px !important;
    height: 280px !important;
    vertical-align: bottom;
    border-radius: 3px 3px 0 0;
    border: none !important;
}

@media only screen and (max-width: 930px) {
    #chat_widget {
        width: 100%;
        right: 0;
        border-radius: 0;
    }
}