<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .i-am-centered {
        margin: auto;
        max-width: 300px;
    }

    .mb-1:hover {
        text-decoration: underline;
        color: #6c07ae
    }

    h5 {
        color: #6c07ae;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color:#6c07ae;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white" href="#">NYU LIBRARIES</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a title="NYU Libraries home" href="http://library.nyu.edu"><h1 class="sr-only">NYU Libraries</h1></a></li>
        <!-- <li><a href="#">Home</a></li> -->
        <!-- <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:white"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron" style="background-color: #d8dee5;">
  <div class="container text-center">
    <p>Displaying search results...</p>
    <medium>Note: Alternate titles might have matched your search terms</medium>
  </div>
</div>
<div class="i-am-centered">
    <a href="#" class="list-group-item list-group-item-action flex-column" style="border-style: none;">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column" style="border-style: none;">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column" style="border-style: none;">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
  </div>
</body>
</html>
